<div class="page-about">

  <h1>About Racker Tracker</h1>

  <p>
    We collect all your activity data and aggregate it together.
  </p>

  <div>
    We currently support the following devices:
    <ul>
      <li>All Fitbit devices</li>
      <li>Nike Fuelband</li>
      <li>Jawbone (coming soon)</li>
      <li>Body Media (coming soon)</li>
      <li>Basis Watch (coming later)</li>
    </ul>
  </div>

  <p>
    Want to contribute? <a href="https://github.com/sym3tri/racker-tracker">Pull Requests are welcome!</a>
  </p>

</div>
