<div class="page-leader-board">

  <h2>Leader Boards</h2>

  {{state}}

  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading"><strong>This Week</strong></div>
        <table class="table table-condensed table-hover leader-table">
          <thead>
            <tr>
              <th class="rank">Rank</th>
              <th>Name</th>
              <th>Steps</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tr ng-repeat="stat in thisWeeksSteps | orderBy:'steps':true">
            <td>{{$index + 1}}</td>
            <td>{{stat.name}}</td>
            <td>{{stat.steps}}</td>
            <td>
              <small>
                <time datetime="{{stat.lastUpdatedISO}}">{{stat.lastUpdatedReadable}}</time>
              </small>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading"><strong>Last Week</strong></div>
        <table class="table table-condensed table-hover leader-table">
          <thead>
            <tr>
              <th class="rank">Rank</th>
              <th>Name</th>
              <th>Steps</th>
            </tr>
          </thead>
          <tr ng-repeat="stat in lastWeeksSteps | orderBy:'steps':true">
            <td>{{$index + 1}}</td>
            <td>{{stat.name}}</td>
            <td>{{stat.steps}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">


      <div class="panel panel-default">
        <div class="panel-heading"><strong>Most Improved</strong></div>
        <table class="table table-condensed table-hover leader-table">
          <thead>
            <tr>
              <th class="rank">Rank</th>
              <th>Name</th>
              <th>Percent</th>
            </tr>
          </thead>
          <tr ng-repeat="stat in mostImproved | orderBy:'percent':true">
            <td>{{$index + 1}}</td>
            <td>{{stat.name}}</td>
            <td>{{stat.percent}}%</td>
          </tr>
        </table>
      </div>

    </div>
  </div>

</div>
