<div class="page-users">

  <h1>All Users</h1>

  <select id="time-selector" data-since="{{since}}"></select>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <td>Name</td>
        <td>Registered</td>
        <td>Steps</td>
        <td>Calories</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td><time datetime="{{user.createdAtISO}}">{{user.createdAtReadable}}</time></td>
        <td>{{user.steps}}</td>
        <td>{{user.calories}}</td>
      </tr>
    </tbody>
  </table>

</div>
