<div class="page-users">

  <h1>All Users</h1>

  <div class="btn-group btn-group-sm">
    <button type="button"
      class="btn btn-default btn-small"
      ng-model="since"
      btn-radio="'all'">All Time</button>
    <button type="button"
      class="btn btn-default"
      ng-model="since"
      btn-radio="'month'">This Month</button>
    <button type="button"
      class="btn btn-default"
      ng-model="since"
      btn-radio="'week'">This Week</button>
    <button type="button"
      class="btn btn-default"
      ng-model="since"
      btn-radio="'today'">Today</button>
  </div>

  <div ng-show="state">{{state}}</div>

  <div>&nbsp;</div>

  <div class="panel panel-default">
    <table ng-hide="state" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Registered</th>
          <th>Steps</th>
          <th>Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | orderBy:'steps':true">
          <td>{{user.name}}</td>
          <td><time datetime="{{user.createdAtISO}}">{{user.createdAtReadable}}</time></td>
          <td>{{user.steps}}</td>
          <td>{{user.calories}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
