<div class="page-users">

  <h1>All Users</h1>

  <div class="btn-group btn-group-sm">
    <button type="button"
      class="btn btn-default btn-small"
      ng-model="since"
      btn-radio="'all'">All Time</button>
    <button type="button"
      class="btn btn-default"
      ng-model="since"
      btn-radio="'month'">This Month</button>
    <button type="button"
      class="btn btn-default"
      ng-model="since"
      btn-radio="'week'">This Week</button>
    <button type="button"
      class="btn btn-default"
      ng-model="since"
      btn-radio="'today'">Today</button>
  </div>

  <div ng-show="state">{{state}}</div>

  <table ng-hide="state" class="table table-condensed table-hover">
    <thead>
      <tr>
        <td>Name</td>
        <td>Registered</td>
        <td>Steps</td>
        <td>Calories</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td><time datetime="{{user.createdAtISO}}">{{user.createdAtReadable}}</time></td>
        <td>{{user.steps}}</td>
        <td>{{user.calories}}</td>
      </tr>
    </tbody>
  </table>

</div>
